<div class="container">
  <h4>AQI</h4>
  <div *ngIf="station; else loading;">
    <h5 [style.color]='station.aqi["color"]'><b>{{station.aqi["label"]}}</b></h5>
        <div class="col-2">
          <b>Moyenne:</b> {{station.aqi["average"]}}
        </div>
        <div class="col-2">
          <b>Maximum:</b> {{station.aqi["maximum"]}}
        </div>
  </div>
  <ng-template #loading><b>Chargement...</b></ng-template>
</div>